
@{
    ViewBag.Title = "Homepage";
}


<br />
<br />
<div class="index-h" style="text-align:center">
    <h1 class="display-4 mt-4 mb-4"><b>Welcome to Student Managment System</b></h1>
</div>

<hr class="mb-5" />

<h2 class="">Admin Panal</h2>
<br /><br />
<div class="btn-group btn-group-lg" role="group" aria-label="Basic example" id="HomeBTGroup">

    <a type="button" class="btn btn-outline-primary" href="/Student/Create" id="HomeBT">Add New Student</a>
    <a type="button" class="btn btn-outline-primary" href="/Student/Index" id="HomeBT">Student List</a>

</div>

<br /><br /><br /><br /><br /><br /><br /><br />


